<div class="row home-section" id="portfolio">
    <div class="col col-xs-12">
        <div class="row">
            <div class="col col-xs-12 section-title-col" id="about-col">
                <h2 id="about-title" class="text-centered"> What have we done? </h2>
                <p class="section-paragraph"> We've designed and pressed shirts for all types of events and organizations. Our design team is one of the best, and is always looking for new challeneges. Let's create something awesome for you! </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="slide-container">
                    <div class="slides">
                        <%= image_tag("alleghany_1", class: "slide-img", alt: "South Shore T shirt") %>             
                    </div>
                    <div class="slides">
                        <%= image_tag("autumnstrong_1", class: "slide-img", alt: "South Shore shirt design") %>             
                    </div>
                    <div class="slides">
                        <%= image_tag("bklyn_school_1", class: "slide-img", alt: "South Shore screen printing") %> 
                    </div>
                    <div class="slides">
                        <%= image_tag("brentwood_vball_1", class: "slide-img", alt: "South Shore custom design") %> 
                    </div>
                    <div class="slides">
                        <%= image_tag("coil_1", class: "slide-img", alt: "Long Island screen printing") %> 
                    </div>
                    <div class="slides">
                        <%= image_tag("hhh_robo_1", class: "slide-img", alt: "custom screen printing") %> 
                    </div>
                    <div class="slides">
                        <%= image_tag("hills_gym_1", class: "slide-img", alt: "South Shore Royal Tees") %> 
                    </div>
                    <div class="slides">
                        <%= image_tag("hills_lax_1", class: "slide-img", alt: "Lindenhurst screen printing") %> 
                    </div>
                    <div class="slides">
                        <%= image_tag("jab_1", class: "slide-img", alt: "South Shore custom screen printing") %> 
                    </div>
                    <div class="slides">
                        <%= image_tag("lindy_bball_1", class: "slide-img", alt: "Long island shirt design") %> 
                    </div>
                    <a class="prev">&#10094;</a>
                    <a class="next">&#10095;</a>
                </div>
            </div>
        </div>
    </div>
</div>